<p id="notice"><%= notice %></p>

<p>
  <strong>Series start date:</strong>
  <%= @series.series_start_date %>
</p>

<p>
  <strong>Series end date:</strong>
  <%= @series.series_end_date %>
</p>

<p>
  <strong>Series type:</strong>
  <%= @series.series_type %>
</p>

<p>
  <strong>Series title:</strong>
  <%= @series.series_title %>
</p>

<p>
  <strong>Images:</strong>
  <% preview_tags = get_resourcespace_image_previews(@series.id) %>
  <% unless preview_tags.nil? %>
    <%= safe_join(preview_tags.map {|p| p.html_safe }, ", ").html_safe %>
  <% end %>
</p>

<p>
  <strong>Series description:</strong>
  <%= @series.series_description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @series.location %>
</p>

<p>
  <strong>Exhibition curators:</strong>
  <%= safe_join(list_series_people(series_id: @series.id, role: 'curator').map { |p| link_to(p.display_name, "/people/#{p.id}") }, ", ".html_safe) %>
</p>

<p>
  <strong>Artists:</strong>
  <%= safe_join(list_series_people(series_id: @series.id, role: 'artist').map { |p| link_to(p.display_name, "/people/#{p.id}") }, ", ".html_safe) %>
</p>

<p>
  <strong>Series credits:</strong>
  <%= @series.series_credits %>
</p>

<p>
  <strong>Series organizer:</strong>
  <%= @series.outside_organizer %>
</p>

<p>
  <strong>Series short description:</strong>
  <%= @series.series_short_description %>
</p>

<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
