<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @person.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @person.lname %>
</p>

<p>
  <strong>Etc name:</strong>
  <%= @person.etc_name %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @person.display_name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @person.birth_date %>
</p>

<p>
  <strong>Death date:</strong>
  <%= @person.death_date %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
