<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.fname %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.lname %>
</p>

<p>
  <strong>Etc name:</strong>
  <%= @person.etc_name %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @person.display_name %>
</p>

<p>
  <strong>Wikidata page</strong>
  <p>Wikidata ID: <%=@person.wikidata_id%></p>
  <%= link_to(@person.display_name, "https://www.wikidata.org/wiki/#{@person&.wikidata_id}") %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @person.birth_date %>
</p>

<p>
  <strong>Death date:</strong>
  <%= @person.death_date %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
