<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Showtimes:</strong>
  <%= @event.showtimes %>
</p>

<p>
  <strong>Screening title:</strong>
  <%= @event.screening_title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Legacy credit text:</strong>
  <%= @event.legacy_credit_text %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
