<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.display_date %>
</p>

<p>
  <strong>Showtime One:</strong>
  <%= @event.showtime_one_display %>
</p>

<p>
  <strong>Showtime Two:</strong>
  <%= @event.showtime_two_display %>
</p>

<p>
  <strong>Screening title:</strong>
  <%= @event.screening_title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Short Description:</strong>
  <%= @event.short_description %>
</p>

<p>
  <strong>Legacy credit text:</strong>
  <%= @event.legacy_credit_text %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Permission:</strong>
  <%= @event.permission %>
</p>

<p>
  <strong>Print Source:</strong>
  <%= @event.print_source %>
</p>

<p>
  <strong>Film Runtime:</strong>
  <%= @event.film_runtime %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
