<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-8">
      <!-- image and description column -->
      <div class="row">
        <div class="col-sm">
          <% @preview_tags = get_resourcespace_event_image_previews(@event.id) %>
            <% unless @preview_tags.nil? %>
            <%= render partial: "/layouts/preview_carousel", locals: {preview_tags: @preview_tags} %>
          <% end %>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-4">
        <!-- info box -->
          <div class="card event-info-box">
              <div class="card-body">
                <h2>
                  <%= @event.display_date %>
                </h2>
                <% unless @event.showtime_one_display.nil? %>
                  <h4 class='info-box-text my-3'>
                    <%= @event.showtime_one_display %>
                  </h4>
                <% end %>

                <% unless @event.showtime_two_display.nil? %>
                  <h4 class='info-box-text my-3'>
                    <%= @event.showtime_two_display %>
                  </h4>
                <% end %>
                <% unless @event.location.nil? %>
                  <h4 class='info-box-text my-3'>
                    <%= @event.location %>
                  </h4>
                <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
        <!-- description area -->
          <!-- title -->
          <% unless @event.screening_title.nil? %>
            <h1 class='title'>
              <%= @event.screening_title %>
            </h1>
          <% end %>
          <hr>

          <!-- in-person guests -->
          <% guests = list_event_relations(event_id: @event.id, target_model: "Person", role: 'in-person guest') %>
          <% unless guests.to_a.empty? %>
              <h2>In-person guests</h2>
              <%= safe_join(guests.map { |p| link_to(p.display_name, "/people/#{p.id}") }, ", ".html_safe) %>
          <% end %>

          <!-- presenters -->
          <% presenters = list_event_relations(event_id: @event.id, target_model: "Person", role: 'presenter') %>
          <% unless presenters.to_a.empty? %>
            <h2>Presented by:</h2>
              <%= safe_join(presenters.map { |p| link_to(p.display_name, "/people/#{p.id}") }, ", ".html_safe) %>
          <% end %>

          <!-- performers -->
          <% performers = list_event_relations(event_id: @event.id, target_model: "Person", role: 'performer') %>
          <% unless performers.to_a.empty? %>
              <h2>Performers:</h2>
              <%= safe_join(performers.map { |p| link_to(p.display_name, "/people/#{p.id}") }, ", ".html_safe) %>
          <% end %>

          <hr>

          <!-- description -->
          <% unless @event.description.nil? %>
            <%= @event.description&.html_safe %>
          <% end %>
          <!-- short description -->
          <% unless @event.short_description.nil? %>
            <%= @event.short_description&.html_safe %>
          <% end %>
          <!-- legacy credit text -->
          <% unless @event.legacy_credit_text.nil? %>
            <h3>Additional credits:</h3>
            <%= @event.legacy_credit_text&.html_safe %>
          <% end %>
          <!--  film permission -->
          <% unless @event.permission.nil? %>
          <h3>Film permission courtesy:</h3>
            <%= @event.permission %>
          <% end %>
          <!-- print source -->
          <% unless @event.print_source.nil? %>
          <h3>Print Source</h3>
            <%= @event.print_source %>
          <% end %>
          <!-- film runtime -->
          <% unless @event.film_runtime.nil? %>
          <h3>Film Runtime:</h3>
          <p>
            <%= @event.film_runtime %>
          </p>
          <% end %>
        </div>
      </div>

    </div>
    <div class="col-md-4 related-stuff">
      <!-- related stuff column -->
      <!-- related exhibitions -->
      <% related_series = list_event_relations(event_id: @event.id, target_model: "Series", role: 'related exhibition') %>
      <% unless related_series.to_a.empty? %>
      <div class="row">
        <div class="col">
          <div class="card mt-3 rounded">
            <div class="card-body rounded related-stuff-card">
              <h2>Related Exhibitions</h2>
              <%= safe_join(related_series.map { |s| link_to(s.series_title, "/series/#{s.id}") }, "<br/>".html_safe) %>
            </div>
          </div>
        </div>
      </div>
      <% end %>

      <!-- related film series -->
      <% related_series = list_event_relations(event_id: @event.id, target_model: "Series", role: 'film series') %>
      <% unless related_series.to_a.empty? %>
      <div class="row">
        <div class="col">
          <div class="card mt-3 rounded">
            <div class="card-body rounded related-stuff-card">
              <h2>Part of the film series</h2>
              <%= safe_join(related_series.map { |s| link_to(s.series_title, "/series/#{s.id}") }, "<br/>".html_safe) %>
            </div>
          </div>
        </div>
      </div>
      <% end %>

      <!-- films screened -->
      <% films_screened = list_event_relations(event_id: @event.id, target_model: "Work", role: 'film screened') %>
      <% unless films_screened.to_a.empty? %>
      <div class="row">
        <div class="col">
          <div class="card mt-3 rounded">
            <div class="card-body rounded related-stuff-card">
              <h2>Films in this screening</h2>
              <%= safe_join(films_screened.map { |w| link_to(w.title, "/works/#{w.id}") }, "<br/>".html_safe) %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <!-- ia recordings -->
      <% ia_recordings = list_internet_archive_recordings(event_id: @event.id) %>
      <% unless ia_recordings.to_a.empty? %>
      <div class="row">
        <div class="col">
          <div class="card mt-3 rounded">
            <div class="card-body">
              <h2>
                Listen to recordings of this event
                <br>
                <ul class="list-group">
                  <%= safe_join(ia_recordings.map {|t| t.html_safe }, "").html_safe %>
                </ul>
              </h2>
            </div>
          </div>
        </div>
      </div>
      <% end %>

    <!-- end related stuff -->
    </div>
  </div>


      

      
      <!--
      <p>
        <strong>Import row id:</strong>
        <%= @event.import_row_id %>
      </p>
      -->






      

      

      


    </div>
  </div>


  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Back', events_path %>

</div>
